body {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    background-color: black;
}

header {
    position: relative;
    height: 90px;
    padding: 0 221px;
}

header a#logo {
    display: inline-block;
    padding: 20px 0px;
}

main section#slider {
    position: relative;
    width: 100%;
    height: 372px;
    padding-top: 60px;
    padding-left: 191px;
    padding-right: 191px;
    background-image: url(../img/slider1@1x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

main section#slider div#offer {
    position: relative;
    display: inline-block;
}

main section#slider div#offer h1 {
    margin: 0;
}

main section#slider div#offer p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}

main section#slider div#offer ul {
    margin-top: 57px;
    margin-bottom: 0;
    padding-left: 0;
}

main section#slider div#offer ul li {
    display: inline-block;
}

main section#slider div#offer ul li a {
    position: relative;
    display: inherit;
    width: 139px;
    height: 45px;
    padding-top: 15px;
    text-align: center;
    background-position: 0;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

main section#slider div#offer ul li:first-child a {
    background-image: url('../img/cta-download-en@1x.png');
    margin-right: 11px;
}

main section#slider div#offer ul li:last-child a {
    background-image: url('../img/cta-play-en@1x.png');
}

main section#slider aside {
    display: inline-block;
    float: right;
    height: 190px;
    width: 126px;
    border-radius: 10px;
    background-image: -moz-linear-gradient( 28deg, rgb(162,198,224) 0%, rgb(76,141,187) 50%, rgb(24,63,106) 100%);
    background-image: -webkit-linear-gradient( 28deg, rgb(162,198,224) 0%, rgb(76,141,187) 50%, rgb(24,63,106) 100%);
    background-image: -ms-linear-gradient( 28deg, rgb(162,198,224) 0%, rgb(76,141,187) 50%, rgb(24,63,106) 100%);
}

main section#slider aside div {
    text-align: center;
    margin: 0;
}

main section#slider aside div#location-name {
    height: 41px;
}

main section#slider aside div#location-name p {
    color: #082d3c;
}

main section#slider aside div#location-name p:first-child {
    font-weight: 600;
    font-size: 16px;
}

main section#slider aside div#location-temp {
    height: 121px;
    line-height: 121px;
    background-color: #ffffff;
}

main section#slider aside div#location-temp p {
    color: rgb(0, 36, 50);
    font-size: 32px;
    font-weight: 600;
}

main section#slider aside div p.weather-info {
    margin: 0;
}

main section#slider aside a {
    width: 100%;
    padding-top: 7px;
    display: inline-block;
    text-align: center;
}

main section#steps {
    position: relative;
    width: 1000px;
    height: 103px;
    margin: 0 auto;
    background-image: url('../img/steps.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}

main section#steps div.step {
    display: inline-block;
    width: 315px;
    height: 103px;
    padding-top: 40px;
    box-sizing: border-box;
}

main section#steps div.step:first-child {
    padding-left: 120px;
}

main section#steps div.step:nth-child(2) {
    padding-left: 150px;
}

main section#steps div.step:last-child {
    padding-left: 195px;
}

main section#steps-details {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

main section#steps-details div.step-detail {
    position: relative;
    display: inline-block;
    width: 247px;
    text-align: center;
    vertical-align: top;
}

main section#steps-details div.step-detail:not(:last-child):after {
    position: absolute;
    right: 0;
    top: 0;
    content: url('../img/line.png');
}
