body {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    background-color: black;
}

header {
    position: relative;
    height: 90px;
}

header a#logo {
    display: inline-block;
    padding: 20px 0;
}
